ion-toolbar{
    --background: #FF66C4;
    text-align: center;
  }

  img{
    margin-top: 2%;
    
  }

p{
  text-align:left;
  display: flex;
  margin-left: 2%;
  margin-top: 2%;
}

h3{
  text-align:center;
 
  margin-top: 2%;
}

.d1{

  ion-icon{
    color:#FF66C4
  }

    p{
      text-align:left;
      display: flex;
    }
}

 
