<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Produtos</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/cadastropro">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content color="rosa">
<ion-card>

<img src="https://m.media-amazon.com/images/I/712MUYUUWGL._AC_SX679_.jpg" alt="">

    <ion-label>
      <h3> Hidratação Pantene Óleo de Coco - 600ml</h3>
      <p>* Ajuda a prevenir e reparar danos ou pontas duplas</p>
        <p>* Fórmula rica em nutrientes e Pro-Vitaminas que proporciona brilho radiante para cabelos visivelmente saudáveis</p>
    </ion-label>
    <div class="d1">
      <ion-item>
        <ion-icon name="pricetags-outline"></ion-icon>
        <p>  R$39,90</p>
      </ion-item>
  
      <ion-item>
        <ion-icon name="calendar-outline"></ion-icon>
        <p>31/02/2023</p>
      </ion-item>
    </div>

      

</ion-card>

</ion-content>
