ion-toolbar{
    --background: #FF66C4;
    text-align: center;
  }
  .b1{
    margin-left: 3%;
    margin-right: 4%
  }

  ion-card{
    justify-content: center;
    --background: #cdcccc;
    ion-item{
      --background: #cdcccc;
    }
    }