<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="rosa">
  <form>

  <ion-card>

      <ion-item>
        <ion-label>
          <ion-input placeholder="Nome"></ion-input>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-input placeholder="Descrição"></ion-input>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-input placeholder="Validade"></ion-input>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-input placeholder="Preço"></ion-input>
        </ion-label>
      </ion-item>

    

  </ion-card>
</form>

<ion-button color="bt" class="b1" expand="block"  >Salvar</ion-button>

</ion-content>
